<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>지하철 도착 정보</title>
</head>
<body>
<H2 style="text-align: center;">지하철 도착 정보</H2>
<br><br>

<form>
<div style="margin: auto; text-align: center;">
	<input type="text" name="search" id="search" placeholder="검색할 역명 입력" />
	<button type="submit">검색</button>
</div>
</form>

<br><br>

<div>
<table class="table table-hover" style="width: 70%; margin: auto;"> 
 <thead>
 <tr>
      <th>지하철 ID</th> <!-- subwayId -->
      <th>상하행</th> <!-- updnLine -->
      <th>노선명</th> <!-- trainLineNm -->
      <th>역명</th> <!-- statnNm -->
      <th>도착 시간</th> <!-- recptnDt -->
      <th>도착 메시지</th> <!-- arvlMsg2 -->
      <th>현재 열차 위치</th> <!-- arvlMsg3 -->
   </tr>
 </thead>
 <tbody>
   <tr th:each="list : ${sb.realtimeArrivalList}">
   <td th:text="${list.subwayId}"></td>
      <td th:text="${list.updnLine}"></td>
     <td th:text="${list.trainLineNm}"></td>
     <td th:text="${list.statnNm}"></td>
     <td th:text="${list.recptnDt}"></td>
     <td th:text="${list.arvlMsg2}"></td>
     <td th:text="${list.arvlMsg3}"></td>
   </tr>
 </tbody>
</table>
</div>
</body>
</html>